<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link th:href="@{/assets/css/user.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
      		<th:block th:include="includes/header"></th:block>
        <div id="content">
            <div id="user">
                <p class="jr-success">
                    회원가입을 축하합니다.
                    <br><br>
                    <a th:href="@{/user/login}">로그인하기</a>
                </p>                
            </div>
        </div>
        <th:block th:include="includes/navigation"></th:block>
		<th:block th:include="includes/footer"></th:block>
    </div>
</body>
</html>