<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mysite</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link th:href="@{/assets/css/user.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
<th:block th:include="includes/header"></th:block>
        <div id="content">
            <div id="user">
                <form id="join-form" name="joinForm" th:action="@{/user/update}" method="post">
                    <label class="block-label" for="name">이름</label>
                    <input id="name" name="name" type="text" th:value="${userVo.name}">

                    <label class="block-label" for="email">이메일</label>
                    <h4 th:text="${userVo.email}"></h4>
                    
                    <label class="block-label">패스워드</label>
                    <input name="password" type="password" value="">
                    
                    <fieldset>
                        <legend>성별</legend>
                        <input type="radio" name="gender" th:value="female" th:checked="${userVo.gender == 'female'}">
                        <label>여</label>
                        <input type="radio" name="gender" th:value="male" th:checked="${userVo.gender == 'male'}">
                        <label>남</label>
                    </fieldset>
                    <input type="submit" value="수정하기">
                </form>
            </div>
        </div>
      	<th:block th:include="includes/navigation"></th:block>
		<th:block th:include="includes/footer"></th:block>
    </div>
    
    <div th:if="${param.result == 'success'}">
        <script th:inline="javascript">
            alert('성공적으로 수정 하였습니다.');
        </script>
    </div>
</body>
</html>