<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mysite</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link th:href="@{/assets/css/board.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
 <th:block th:include="includes/header"></th:block>
        <div id="content">
            <div id="board">
                <form id="search_form" action="" method="post">
                    <input type="text" id="kwd" name="kwd" th:value="${param.kwd}">
                    <input type="submit" value="찾기">
                </form>
                <table class="tbl-ex">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>조회수</th>
                            <th>작성일</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="lists, status : ${list}">
                            <td th:text="${totalItem - (current - 1) * onePagesItem - status.index}"></td>
                            <td class="fixed-width">
                                <div th:style="'text-align: center;'" th:if="${lists.depth == 0}">
                                    <a th:href="@{|/board/view/${lists.no}?curPage=${current}|}" th:text="${lists.title}"></a>
                                </div>
                                <div th:style="'display: flex; align-items: center; margin-left: ' + ${lists.depth * 20} + 'px;'" th:if="${lists.depth > 0}">
                                    <img th:src="@{/assets/images/reply.png}" th:if="${lists.depth >= 1}" />
                                    <a th:href="@{|/board/view/${lists.no}?curPage=${current}|}" th:text="${lists.title}" th:style="'margin-left: 10px;'"></a>
                                </div>
                            </td>
                            <td th:text="${lists.name}"></td>
                            <td th:text="${lists.hit}"></td>
                            <td th:text="${#dates.format(lists.reg_date, 'yyyy-MM-dd')}"></td>
                            <td>
                                <sec:authorize access="isAuthenticated()">
                                    <sec:authentication property="principal" var="authUser" />
                                    <c:if test="${authUser.no == lists.user_no}">
                                        <a th:href="@{|/board/delete/${lists.no}|}" class="del" th:style="'background-image:url(/assets/images/recycle.png);'">삭제</a>
                                    </c:if>
                                </sec:authorize>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pager">
                    <ul>
                        <li th:if="${start > 1}">
                            <a th:href="@{|?page=${start - 1}|}">◀</a>
                        </li>
                        <li th:each="index : ${#numbers.sequence(start, end)}" th:class="${index == current} ? 'selected' : ''">
                            <a th:href="@{|?page=${index}|}" th:text="${index}"></a>
                        </li>
                        <li th:if="${end < totalPage}">
                            <a th:href="@{|?page=${end + 1}|}">▶</a>
                        </li>
                    </ul>
                </div>
                <div class="bottom">
                    <sec:authorize access="isAuthenticated()">
                        <a th:href="@{/board/writeform}" id="new-book">글쓰기</a>
                    </sec:authorize>
                </div>
            </div>
        </div>
      <th:block th:include="includes/navigation"></th:block>
		<th:block th:include="includes/footer"></th:block>
    </div>
</body>
</html>