<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mysite</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link th:href="@{/assets/css/board.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <!-- Header import -->
   <th:block th:include="includes/header"></th:block>
        
        <div id="wrapper">
            <div id="content">
                <div id="board" class="board-form">
                    <table class="tbl-ex">
                        <thead>
                            <tr>
                                <th colspan="2">글보기</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="label">제목</td>
                                <td th:text="${board.title}"></td>
                            </tr>
                            <tr>
                                <td class="label">내용</td>
                                <td>
                                    <div class="view-content" th:utext="${#strings.replace(board.contents, '\n', '<br>')}"></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="bottom">
                        <div th:if="${board.user_no == authUser.no}">
                            <a th:href="@{/board/modifyform(no=${board.no})}">글수정</a>
                            <div th:if="${#authorization.expression('isAuthenticated()')}">
                                <a th:href="@{/board/writeform(no=${board.no})}">답글 달기</a>
                            </div>
                            <a th:href="@{/board}">글목록</a>
                        </div>
                        <div th:if="${board.user_no != authUser.no}">
                            <div th:if="${#authorization.expression('isAuthenticated()')}">
                                <a th:href="@{/board/writeform(no=${board.no})}">답글 달기</a>
                            </div>
                            <a th:href="@{/board(page=${currentPage})}">글목록</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

   		<th:block th:include="includes/navigation"></th:block>
		<th:block th:include="includes/footer"></th:block>
    </div>
</body>
</html>
