<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mysite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/assets/css/board.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <div th:replace="includes/header :: header"></div>
        
        <div id="wrapper">
            <div id="content">
                <div id="board" class="board-form">
                    <table class="tbl-ex">
                        <tr>
                            <th colspan="2">글보기</th>
                        </tr>
                        <tr>
                            <td class="label">제목</td>
                            <td th:text="${board.title}"></td>
                        </tr>
                        <tr>
                            <td class="label">내용</td>
                            <td>
                                <div class="view-content" th:utext="${#strings.replace(board.contents, '\n', '<br>')}"></div>
                            </td>
                        </tr>
                    </table>
                   <div class="bottom">
                       <div th:if="${board.user_no == authUser.no}">
                           <a th:href="@{/board/modifyform(no=${board.no})}">글수정</a>
                           <div th:if="${#authorization.expression('isAuthenticated()')}">
                               <a th:href="@{/board/writeform(no=${board.no})}">답글 달기</a>
                           </div>
                           <a th:href="@{/board}">글목록</a>
                       </div>
                       <div th:unless="${board.user_no == authUser.no}">
                           <div th:if="${#authorization.expression('isAuthenticated()')}">
                               <a th:href="@{/board/writeform(no=${board.no})}">답글 달기</a>
                           </div>
                           <a th:href="@{/board(page=${currentPage})}">글목록</a>
                       </div>
                   </div>
                </div>
            </div>
        </div>
        
        <div th:replace="includes/navigation :: navigation"></div>
        <div th:replace="includes/footer :: footer"></div>
    </div>
</body>
</html>