<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mysite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/assets/css/admin/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <div th:replace="admin/include/header :: header"></div>
        <div id="wrapper">
            <div id="content">
                <div id="site-form">
                    <h2>방명록 관리 페이지</h2>
                </div>
            </div>
            <div th:replace="admin/include/navigation :: navigation(menu='guestbook')"></div>
        </div>
    </div>
</body>
</html>