<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mysite</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link th:href="@{/assets/css/admin/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <div th:replace="admin/include/header :: header"></div>
        <div id="wrapper">
            <div id="content">
                <div id="site-form">
                    <form method="post" th:action="@{/admin/main/update}" enctype="multipart/form-data">
                        <input type="hidden" name="profile" th:value="${sitevo.profile}" />

                        <label class="block-label" for="title">사이트 타이틀</label>
                        <input id="title" name="title" type="text" th:value="${sitevo.title}">
                        
                        <label class="block-label" for="welcome">환영 메세지</label>
                        <input id="welcome" name="welcome" type="text" th:value="${sitevo.welcome}">

                        <label class="block-label">프로필 이미지</label>
                        <img id="profile" th:src="@{${sitevo.profile}}">
                        <input type="file" name="file">

                        <label class="block-label">사이트 설명</label>
                        <textarea name="description" th:text="${sitevo.description}"></textarea>
                        
                        <input type="submit" value="변경" />
                    </form>                                    
                </div>
            </div>
            <div th:replace="admin/include/navigation :: navigation(menu='main')"></div>
        </div>
    </div>
</body>
</html>
