<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
  	<th:block th:include="includes/header"></th:block>
    <div id="wrapper">
        <div id="content">
            <div id="site-introduction">
                <img id="profile" th:src="${sitevo.profile}" style="width:420px">
                <h2 th:text="${sitevo.welcome}"></h2>
                <p th:utext="${#strings.replace(sitevo.description, '\n', '<br>')}">
                    <br><br>
                    <a th:href="@{/guestbook}">방명록</a>에 글 남기기<br>
                </p>
            </div>
        </div>
    </div>
  <th:block th:include="includes/navigation"></th:block>
		<th:block th:include="includes/footer"></th:block>
</div>
</body>
</html>