<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div id="container">
    <div th:replace="/WEB-INF/views/includes/header :: header"></div>
    <div id="wrapper">
        <div id="content">
            <div id="site-introduction">
                <img id="profile" th:src="${sitevo.profile}" style="width:420px">
                <h2 th:text="${sitevo.welcome}"></h2>
                <p th:utext="${#strings.replace(sitevo.description, '\n', '<br>')}">
                    <br><br>
                    <a th:href="@{/guestbook}">방명록</a>에 글 남기기<br>
                </p>
            </div>
        </div>
    </div>
    <div th:replace="/WEB-INF/views/includes/navigation :: navigation"></div>
    <div th:replace="/WEB-INF/views/includes/footer :: footer"></div>
</div>
</body>
</html>