<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>관리자페이지</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link th:href="@{/assets/css/main.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="navigation">
        <ul>
            <li th:classappend="${param.menu == 'main'} ? 'selected'">
                <a th:href="@{/admin/}">메인페이지 관리</a>
            </li>
            <li th:classappend="${param.menu == 'guestbook'} ? 'selected'">
                <a th:href="@{/admin/guestbook}">방명록 관리</a>
            </li>
            <li th:classappend="${param.menu == 'board'} ? 'selected'">
                <a th:href="@{/admin/board}">게시판 관리</a>
            </li>
            <li th:classappend="${param.menu == 'user'} ? 'selected'">
                <a th:href="@{/admin/user}">사용자 관리</a>
            </li>
        </ul>
    </div>
    <div id="footer">&nbsp;</div>
</body>
</html>