<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mysite</title>
    <link th:href="@{/assets/css/board.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <div th:replace="includes/header :: header"></div>
        <div id="content">
            <div id="board">
                <form id="search_form" th:action="" method="post">
                    <input type="text" id="kwd" name="kwd" value="">
                    <input type="submit" value="찾기">
                </form>
                <table class="tbl-ex">
                    <thead>
                        <tr>
                            <th>번호</th>
                            <th>제목</th>
                            <th>글쓴이</th>
                            <th>조회수</th>
                            <th>작성일</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="list, status : ${lists}">
                            <td th:text="${totalItem - (current - 1) * onePagesItem - status.index}"></td>
                            <td class="fixed-width">
                                <div th:if="${list.depth == 0}" style="text-align: center;">
                                    <a th:href="@{/board/view/{no}(no=${list.no}, curPage=${current})}" th:text="${list.title}"></a>
                                </div>
                                <div th:if="${list.depth > 0}" style="display: flex; align-items: center;" th:style="'margin-left: ' + (${list.depth} * 20) + 'px;'">
                                    <img th:if="${list.depth >= 1}" th:src="@{/assets/images/reply.png}" />
                                    <a th:href="@{/board/view/{no}(no=${list.no}, curPage=${current})}" th:style="'margin-left: 10px;'" th:text="${list.title}"></a>
                                </div>
                            </td>
                            <td th:text="${list.name}"></td>
                            <td th:text="${list.hit}"></td>
                            <td th:text="${#dates.format(list.reg_date, 'yyyy-MM-dd')}"></td>
                            <td>
                                <sec:authorize access="isAuthenticated()">
                                    <sec:authentication property="principal" var="authUser"/>
                                    <th:block th:if="${authUser.no == list.user_no}">
                                        <a th:href="@{/board/delete/{no}(no=${list.no})}" class="del" th:style="'background-image:url(' + @{${#mvc.url.contextPath}} + '/assets/images/recycle.png)'">삭제</a>
                                    </th:block>
                                </sec:authorize>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pager">
                    <ul>
                        <li th:if="${start > 1}"><a th:href="@{|?page=${start - 1}|}">◀</a></li>
                        <li th:each="index : ${#numbers.sequence(start, end)}" th:classappend="${index == current} ? 'selected'">
                            <a th:if="${index != current}" th:href="@{|?page=${index}|}" th:text="${index}"></a>
                            <span th:if="${index == current}" th:text="${index}"></span>
                        </li>
                        <li th:if="${end < totalPage}"><a th:href="@{|?page=${end + 1}|}">▶</a></li>
                    </ul>
                </div>
                <div class="bottom">
                    <sec:authorize access="isAuthenticated()">
                        <a th:href="@{/board/writeform}" id="new-book">글쓰기</a>
                    </sec:authorize>
                </div>
            </div>
        </div>
        <div th:replace="includes/navigation :: navigation"></div>
        <div th:replace="includes/footer :: footer"></div>
    </div>
</body>
</html>