<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mysite</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <link th:href="@{/assets/css/board.css}" rel="stylesheet" type="text/css">
</head>
<body>
    <div id="container">
        <!-- 헤더 부분을 include 하기 -->
        <div th:replace="/WEB-INF/views/includes/header :: header"></div>
        
        <div id="wrapper">
            <div id="content">
                <div id="board" class="board-form">
                    <table class="tbl-ex">
                        <thead>
                            <tr>
                                <th colspan="2">글보기</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="label">제목</td>
                                <!-- 게시물의 제목을 출력 -->
                                <td th:text="${board.title}"></td>
                            </tr>
                            <tr>
                                <td class="label">내용</td>
                                <td>
                                    <!-- 게시물의 내용을 줄 바꿈을 유지하여 출력 -->
                                    <div class="view-content" th:utext="${#strings.replace(board.contents, '\n', '<br>')}" ></div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="bottom">
                        <div th:if="${board.user_no == authUser.no}">
                            <!-- 사용자가 작성한 글일 경우 수정 링크 표시 -->
                            <a th:href="@{/board/modifyform(no=${board.no})}">글수정</a>
                            <!-- 인증된 사용자일 경우 답글 달기 링크 표시 -->
                            <sec:authorize access="isAuthenticated()">
                                <a th:href="@{/board/writeform(no=${board.no})}">답글 달기</a>
                            </sec:authorize>
                            <!-- 글 목록으로 돌아가는 링크 표시 -->
                            <a th:href="@{/board}">글목록</a>
                        </div>
                        <div th:unless="${board.user_no == authUser.no}">
                            <!-- 사용자가 작성한 글이 아닐 경우 답글 달기 링크 표시 -->
                            <sec:authorize access="isAuthenticated()">
                                <a th:href="@{/board/writeform(no=${board.no})}">답글 달기</a>
                            </sec:authorize>
                            <!-- 글 목록으로 돌아가는 링크 표시 -->
                            <a th:href="@{/board(page=${currentPage})}">글목록</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- 네비게이션 부분을 include 하기 -->
        <div th:replace="/WEB-INF/views/includes/navigation :: navigation"></div>
        <!-- 푸터 부분을 include 하기 -->
        <div th:replace="/WEB-INF/views/includes/footer :: footer"></div>
    </div>
</body>
</html>