<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>mysite</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <script th:src="@{/assets/js/jquery/jquery-1.9.0.js}"></script>
    <script th:inline="javascript">
        $(function() {
            $("#languages a").click(function(event) {
                event.preventDefault();
                console.log($(this).data("lang"));
                
                /* Set cookie using Thymeleaf expressions */
                var cookieValue = $(this).data("lang");
                var path = /*[[@{/}]]*/ ''; // Path is optional in modern browsers
                
                document.cookie =
                    "lang=" + cookieValue + ";" + // name=value  
                    "path=" + path + ";" +       // path (optional)
                    "max-age=" + (30*24*60*60);  // max-age  
                
                // reload
                location.reload();
            });
        });
    </script>
</head>
<body>
<div id="container">
    <div th:replace="/WEB-INF/views/includes/header :: header"></div>
    <div id="header">
        <h1 th:text="${site.title}"></h1>
        <div id="languages">
            <a th:href="@{/changeLanguage}" th:data-lang="ko" th:classappend="${language == 'ko'} ? 'active' : ''">KR</a>
            <a th:href="@{/changeLanguage}" th:data-lang="en" th:classappend="${language == 'en'} ? 'active' : ''">EN</a>
        </div>
        <ul>
            <sec:authorize access="!isAuthenticated()">
                <li><a th:href="@{/user/login}">로그인</a></li>
                <li><a th:href="@{/user/join}">회원가입</a></li>
            </sec:authorize>
            <sec:authorize access="isAuthenticated()">
                <li><a th:href="@{/user/update}">회원정보수정</a></li>
                <li><a th:href="@{/user/logout}">로그아웃</a></li>
                <li th:text="${#authentication.principal.name} + '님 안녕하세요 ^^;'"></li>
            </sec:authorize>
        </ul>
    </div>
</div>
</body>
</html>